.html, body {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #3d3d3d;
    text-align: center;
    width: 100%;
    background-image: url("img/beton-fond.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
a, a:active, a:visited {
    text-decoration: none;
    color: #3d3d3d;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
}
a:hover {
    color: hsl(0, 0%, 35%);
}
header, .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
header p, .socials p, .contact p {
    padding: 0 1rem;
}
header img {
    width: 250px;
    margin-bottom: 2rem;
}
header p {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 16px;
}
.socials a:first-child img {
    margin-right: 8px;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    body {
        font-size: 1.2rem;
    }
    header {
        margin-bottom: 4rem;
    }
    header p {
        font-size: 1.5rem;
    }
}

@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
        font-size: 1.5rem;
    }
    header {
        margin-bottom: 6rem;
    }
    header img {
        width: 300px;
    }
    header p {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 1.5rem;
    }
    header img {
        width: 300px;
    }
    header p {
        font-size: 2rem;
    } 
}